
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-angle-circled-down:before { content: '\e802'; } /* '' */
.icon-angle-circled-up:before { content: '\e803'; } /* '' */
.icon-angle-circled-right:before { content: '\e804'; } /* '' */
.icon-angle-circled-left:before { content: '\e805'; } /* '' */
.icon-cogs:before { content: '\e806'; } /* '' */
.icon-spin6:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-clock-1:before { content: '\e809'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */